<html>
<body>
<a href="/">Search Books:</a>
<form action='/' method='GET'>
    <input type='text' name='title' size=50 value="{{ query }}">
    <select name="type">
        <option value="*">All</option>
        <option value="books">Books</option>
        <option value="videos">Videos</option>
    </select>
    <select name="rent_days">
        <option value="*">Any</option>
        <option value="5">5 Days</option>
        <option value="10">10 Days</option>
    </select>
    <input type='submit'>
</form>
<br/>

<h3>{{ rental.title }}</h3>
<br/>
{% if rental.img %}
    <img src="{{ rental.img }}"><br/><br/>
{% endif %}

{% for key, value in rental.items() %}
    {% if key not in ("title", "img", "id") %}
        {{ key }}: {{ value }}
    {% endif %}
{% endfor %}

</body>
</html>